<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align:center; color:green;">
    <h3>Hello {{userName}},<br />You have requested for a password-reset<br />
        click the link given below to verify and reset your password<br />
    </h3><br />
    <h3 style="text-align:center; color:red;"><b>Warning:</b>
        Don't proceed if it's not you</h3><br />
    <a href="{{deeplink}}">click here to verify</a>
</div>
</body>
</html>

